.allQuestionsWrap {
    padding: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
.questionWrapper {
  width: 350px;
  height: 350px;
  border: 1px solid black;
padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }

.number {
  margin-right: 30px;
}
*/