.navigation {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
     &.active {
      background-color: black;
      border-bottom: solid 1px white;
     }
   }

.logo {
  cursor: pointer;
  &.active {
    color: white;
  }
}

.menu  {
  display: none; 
  &.active {
    display: contents;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding-top: 20vh;
}  
}

.nav_link {
     list-style-type: none;
}



   