.flexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawingBrowser {
    margin-top: 100px;
    width: 1009px;
    height: 35px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    //box-shadow: 5px 10px #70FF00;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
}

.drawingDesktop {
    border: 1px solid black;
    width: 1009px;
    height: 602px;
    padding-right: 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    //box-shadow: 5px 10px #70FF00;
    
}

.iframeWrapper {
    width: 1000px;
    overflow: hidden;
}

.contentDesktop {
   height: 600px;
   width: 1009px;
   padding-left: -50px;
}

