

.questionWrapper {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  padding: 30px 45px 30px 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }

.number {
  margin-right: 30px;
}
